export(Animate)
exportClasses(Contacts)
exportClasses(ContactTrace)
exportMethods(InDegree)
exportMethods(IngoingContactChain)
exportMethods(NetworkStructure)
exportMethods(NetworkSummary)
exportMethods(OutDegree)
exportMethods(OutgoingContactChain)
exportMethods(Report)
exportMethods(ShortestPaths)
exportMethods(show)
export(ReportObject)
export(Trace)
import(plyr)
import(R2HTML)
import(Rcpp)
useDynLib(EpiContactTrace)
